@media (max-width:900px) {
    #header{
        justify-content: center;
        nav{
            ul{
                padding: 0px 15px;
                li{
                    padding: 10px;
                    a{ 
                        @include textConfig(25px, 400);
                    }
                }
                
            }
        }
    }   
    #welcome{
        h1{
            font-size: 30px;
        }
        #project-link{
            font-size: 20px;
            margin-top: 30px;
            padding: 8px;
        }
    }
    #projects{
        h2{
            font-size: 30px;
            padding:0px 0px 50px;
            text-align: center;
            color: $primary-color;
        }
        .container-project-links{
            grid-template-columns: auto;
            a{
                .project-card{
                    display: grid;
                    width: 75vw;
                    .image-project{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            
        }
    }
    #contact{
        .social-container{
            @include gridContent(1,4);
        }
    }
}